<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HotFixTweaker.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <HotFixTweaker.My.MySettings>
            <setting name="savesettings1" serializeAs="String">
                <value />
            </setting>
            <setting name="savedsettings2" serializeAs="String">
                <value>VisualStudio2012Dark</value>
            </setting>
            <setting name="savedsettings" serializeAs="String">
                <value>#2D2D30, #007ACC</value>
            </setting>
        </HotFixTweaker.My.MySettings>
    </userSettings>
</configuration>